{% extends "farmer_dashboard_layout.html" %}

{% block body %}

		<div class="container">

		<form action="/add_produce" method="post" enctype="multipart/form-data">

			<h4>Add the details about your new produce</h4>
			<b>All the fields are compulsary</b>
			<br>
			<br>

			<table>

				<tr>
					<script>
						var category;
					</script>

					<td>Add the Category</td>
					<td>
						<select name="category" id="produce_category">
							<option value="Vegetables">Vegetables</option>
							<option value="Fruits">Fruits</option>
							<option value="Grains">Grains</option>
						</select>
					</td>

				</tr>

				<tr>
					<!-------- Will add the functionality of sekecting the subcategory via category ------->
					<td>Enter the name of new crop</td>
					<td>
						<input type="text" name="name_of_crop">
					</td>
				</tr>

				<tr>
					<td>Enter the details of the product</td>
					<td>
						<textarea name="details_of_produce"></textarea>
					</td>
				</tr>

				<tr>
					<td>Enter the quantity of produce</td>
					<td>
						<input type="number" name="quantity_of_produce">
					</td>
				</tr>

				<!-- Images -->
				<tr>
					<td>Enter first image : </td>
					<td>
						<input type="file" name="image1">
					</td>
				</tr>

				<tr>
					<td>Enter second image : </td>
					<td>
						<input type="file" name="image2">
					</td>
				</tr>

				<tr>
					<td>Enter third image : </td>
					<td>
						<input type="file" name="image3">
					</td>
				</tr>
				<!-------///////////////////////////////----------->

				<tr>
					<td> <input type="submit"></td>
				</tr>
			</table>
		</form>
		</div>

{% endblock %}