{% extends "farmer_dashboard_layout.html" %}
<!------ In this, we have to display the farmer produce ------>
{% block body %}

	<div class="container">
	  	<h4>Farmers</h4>
	  	<p>All the farmers are listed here.</p>  
	  	<div class="table table-bordered">          
		  	<table class="table table-hover">
			    <thead>
					<tr>
						<th>S.No</th>
						<th>Username</th>
						<th>Name</th>
						<th>Address</th>
						<th>City</th>
						<th>State</th>
						<th>Phone Number</th>
					</tr>
			    </thead>
			    <tbody>
			      	{% for farmer in farmers %}
				      	<tr>
					        <td>{{farmer.sno}}</td>
					        <td>{{farmer.uname}}</td>
					        <td>{{farmer.name}}</td>
					        <td>{{farmer.address}}</td>
					        <td>{{farmer.city}}</td>
					        <td>{{farmer.state}}</td>
					        <td>{{farmer.phone_number}}</td>
				      	</tr>
			      	{% endfor %}
			    </tbody>
		  	</table>
		</div>
	</div>
{% endblock %}