<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>AgriSell - Place where farmers & traders can connect</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/index/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/index/business-frontpage.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">AgriSell</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">AgriSell - Place where Farmers & Traders connect</h1>
          <p class="lead mb-5 text-white-50">New Farmer laws are a boom to the agriculture industry. Farmers across India can connect with the traders all over India, & sell their produce to them; obviously at the higher price than MSP.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
    </div>
    <!-- /.row -->

    <div class="row">
			<div class="card h-100">
				<div class="card-body">
					<h4 class="card-title">Click the below button, if you are a farmer</h4>
					<br>
				</div>
				<div class="card-footer">
					<a href="/farmer_login" class="btn btn-primary">Find Out More!</a>
				</div>
			</div>
			<div class="card h-100">
				<div class="card-body">
					<h4 class="card-title">Click the below button, if you are a trader</h4>
					<br>
				</div>
				<div class="card-footer">
					<a href="/trader_login" class="btn btn-primary">Find Out More!</a>
				</div>
			</div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; <a href="/">AgriSell</a> 2021 | Powered by <a href="http://techoutflow.com/">TechOutflow</a></p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/index/jquery/jquery.min.js"></script>
  <script src="static/vendor/index/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
