{% extends "farmer_dashboard_layout.html" %}
{% block body %}

	<div class="container">

		<h4>Traders</h4>
	  	<p>Contact Information of the traders</p>

	  	<table class="table table-hover">
		    <thead>
				<tr>
				<th>S.No</th>
				<th>Username</th>
				<th>Name</th>
				<th>Address</th>
				<th>City</th>
				<th>State</th>
				<th>Phone Number</th>
				</tr>
		    </thead>
		    <tbody>
		      	{% for trader in traders %}
			      	<tr>
				        <td>{{trader.sno}}</td>
				        <td>{{trader.uname}}</td>
				        <td>{{trader.name}}</td>
				        <td>{{trader.address}}</td>
				        <td>{{trader.city}}</td>
				        <td>{{trader.state}}</td>
				        <td>{{trader.phone_number}}</td>
			      	</tr>
		      	{% endfor %}
		    </tbody>
	  	</table>
  	</div>

{% endblock %}